/* styles.css */

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    flex: 1;
    border: none;
    min-width: fit-content;
    font-family: 'roboto', sans-serif;
    border: 1px solid black;
}

button {
    background-color: #3882F6;
    border: 1px solid #3882F6;
    border-radius: 5px;
    padding: 4px 16px;
    color: #eee;
}

.header {
    font-size: 24px;
    color: #F9FAF8;
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
}

.logo {
    justify-content: flex-start;
}

.links {
    gap: 8px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
    align-items: flex-end;
}

.hero {
    background-color: #1F2937;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 5%;
    padding-bottom: 5%;
}

.hero-l {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:600px; 
    padding-left: 10%;
    padding-right: 5%;
    gap: 15px;
    text-wrap: wrap;
}

.hero-r {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.hero-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero-subtext {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-image {
    height: 200px;
    width: 450px;
}

.hero-signup {
    border-radius: 5px;
    padding: 4px 16px;
    width: fit-content;
}

.information {
    display: flex;
    height: 30vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.information-text {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    display: flex;
}

.information-block {
    align-items: center;
    padding: 32px;
    display: flex;
    padding-left: 20%;
    padding-right: 20%;
}

.image {
    border: 1px solid #3882F6;
    border-radius: 25px;
}

.image-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    text-wrap: wrap;
}

.image-text{
    width: 150px;
}

.quote-section {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding-left: 22%;
    padding-right: 22%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.quote {
    font-size: 36px;
    font-style: oblique;
    color: #1F2937;
    text-align: left;
}

.quote-author {
    padding-top: 8px;
    font-weight: bold;
    text-align: end;
}

.action-call {
    display: flex;
    margin-top: 5%;
    margin-bottom: 5%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.action {
    display: flex;
    background-color: #3882F6;
    flex-direction: row;
    justify-content: space-between;
    width: 800px;
    gap: 8px;
    padding: 2%;
    border-radius: 5px;
}

.action-l {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.action-r {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.call, 
.call-subtext {
    color: #eee;
}

.call-subtext
{
    font-size: small;
}

.call-signup {
    display: flex;
    justify-content: center;
    border: 1px solid #eee;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.footer {
    background-color: #1F2937;
    font-family: 'roboto', sans-serif;
    color: #E5E7EB;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 32px;
}

